<h5>投稿者一覧</h5>


<% @customers.each do |customer| %>
  <div class="border d-inline-block my-3 mx-3 px-3 py-3 text-center">
    <% if current_customer.icon_image.attached? %>
      <%= image_tag customer.icon_image, size:"80x80" %>
    <% else %>
      <%= image_tag 'no_image', size: "80x80" %>
    <% end %><br>
    <%= link_to customer_path(customer) do %>
      <% customer.nickname %>
    <% end %>
    <div>投稿数　<%= customer.recipes.count %></div>
    
    フォロー数: <%= customer.followings.count %>
    フォロワー数: <%= customer.followers.count %>
  </div>
<% end %>
