<h2 class="text-center text-secondary mt-5"><%= "#" + @label %>のタグを含む投稿一覧</h2>

<% @recipes.each do |recipe| %>
    <div class="row">
      <% @customer = recipe.customer %>
      <% if @customer.icon_image.attached? %>
        <%= image_tag @customer.icon_image, size:"30x30" %>
      <% else %>
        <%= image_tag 'no_image', size: "30x30" %>
      <% end %>
      <%= recipe.customer.nickname %>
      <%= link_to recipe_path(recipe.id) do %>
        <%= recipe.title %>
      <% end %>
      <div id="recipe_<%= recipe.id %>">
        <%= render partial: 'public/likes/like', locals: {recipe: recipe} %>
        likes
      </div>
    </div>
  <% end %>
  
  <% body_and_hashtags_in_array(recipe.body).each do |word| %>
    <%= word %>
  <% end %>