<h5 class="d-inline-block text-left">レシピ一覧</h5>
<div class="d-inline-block h-2">
  <%= link_to "レシピ投稿", new_admin_recipe_path, class: 'btn btn-sm btn-success ml-5 px-3' %>
</div>
<div class="search-form mr-5">
  <%= form_with url: admin_recipes_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
  
  <table class="table table-hover ml-auto mr-auto w-75 mt-4">
    <thead class="border-bottom border-top border-secondary">
     <tr>
      <th>レシピID</th>
      <th>レシピ名</th>
      <th>作成者</th>
      <th>いいね数</th>
     </tr>
    </thead>
    <tbody class="border-bottom border-secondary font-weight-bold">
     <% @recipes.each do |recipe| %>
     <tr>
      <td><%= recipe.id %></td>
      <td><%= link_to recipe.title, admin_recipe_path(recipe.id) %></td>
      <td><%= recipe.customer.nickname%></td>
      <td><%= recipe.likes.count %></td>
     </tr>
     <% end %>
    </tbody>
   </table>

