<h5 class="d-inline-block text-left">商品一覧</h5>
<div class="d-inline-block h-2 mb-4">
 <%= link_to "商品追加", new_admin_item_path, class:'btn btn-sm btn-success ml-5 px-3' %>
</div>

<div class="search-form mr-5">
  <%= form_with url: admin_items_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table class="table table-hover ml-auto mr-auto w-75">
  <thead class="border-bottom border-top border-secondary">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>カテゴリー</th>
      <th>在庫ステータス</th>
    </tr>
  </thead>
  <tbody class="border-bottom border-secondary font-weight-bold">
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.item_name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <!--カテゴリー名を表示させる-->
        <td><%= item.category.category_name %></td>
        <td>
          <% if item.is_stock %>
            <span class="text-success">在庫あり</span>
          <% else item.is_stock %>
            <span class="text-secondary">在庫なし</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>