<h5>商品新規登録</h5>

<%= form_with model: @item, url:admin_items_path, local:true do |f| %>

  <label class="col-sm-4 col-form-label">商品画像</label>
  <div class="col-5 ml-3">
    <%= f.file_field :item_image, accept: "image/*", class: "custom-file-input", direct_upload: true %>
    <label class="custom-file-label" data-browse="参照">ファイル選択...</label>
  </div>
  
  <label class="col-sm-4 col-form-label">商品名</label>
  <div class="col-5">
    <%= f.text_field :item_name, class: "form-control"%>
  </div>

  <label class="col-sm-2 col-form-label">説明文</label>
  <div class="col-5">
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <label class="col-sm-4 col-form-label">カテゴリー</label>
  <div class="col-5">
    <%= f.collection_select :category_id, Category.all, :id, :category_name, class: "form-control", include_blank: "選択して下さい"   %> 
  </div>
  
  <label class="col-sm-4 col-form-label">価格</label>
  <div class="col-3">
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <label class="col-sm-4 col-form-label">在庫ステータス</label>
  <div class="col-5">
    <div class="d-inline-block mr-3">
      <%= f.radio_button :is_stock, "true", class: "checkbox" %>
      <%= f.label :is_stock, "在庫あり", class: "radio" %>
    </div>
    <div class="d-inline-block">
      <%= f.radio_button :is_stock, "false", class: "checkbox" %>
      <%= f.label :is_stock, "在庫なし", class: "radio" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit '商品登録', class:'btn-primary px-4 ml-5' %>
  </div>
<% end %>
