<div class="text-center">
  <% if @item.item_image.attached? %>
    <%= image_tag @item.item_image, size:"120x120" %>
  <% else %>
    <%= image_tag 'no_image', size: "120x120" %>
  <% end %><br>
  
  <table class="mx-auto mb-3">
    <tr class="align-center">
      <td class="pr-3">商品名</td> 
      <td><%= @item.item_name %></td>
    </tr>
    <tr class="align-center">
      <td class="pr-3">価格</td> 
      <td>￥<%= @item.price %></td>
    </tr>
    <tr class="align-center">
      <td class="pr-3">説明文</td> 
      <td><div class="new-line"><%= @item.description %></div></td>
    </tr>
    <tr class="align-center">
      <td class="pr-3">在庫ステータス</td> 
      <td>
        <% if @item.is_stock == true %>
          在庫あり
        <% else %>
          在庫なし
        <% end %>
      </td>
    </tr>
  </table>
  
  <%= button_to "商品編集", edit_admin_item_path(@item), class:'btn btn-sm btn-success' %>
  
</div>