<h5 class="d-inline-block text-left">レシピ一覧</h5>
<div class="d-inline-block float-right h-2">タグ検索</div>


  <% @recipes.each do |recipe| %>
    <div class="row">
      <% @customer = recipe.customer %>
      <% if @customer.icon_image.attached? %>
        <%= image_tag customer.icon_image, size:"30x30" %>
      <% else %>
        <%= image_tag 'no_image', size: "30x30" %>
      <% end %>
      <%= recipe.customer.nickname %>
      <%= link_to recipe_path(recipe.id) do %>
        <%= recipe.title %>
      <% end %>
      <div id="recipe_<%= recipe.id %>">
        <%= render partial: 'public/likes/like', locals: {recipe: recipe} %>
        likes
      </div>
    </div>
  <% end %>
  <!--%= paginate @recipes %>-->

