<h5>レシピ投稿</h5>

<%= form_with model: @recipe, url:recipes_path, local:true do |f| %>
  <div class="col-5 ml-3">
    <%= f.file_field :images, accept: "image/*", class: "custom-file-input", direct_upload: true, multiple: true %>
    <label class="custom-file-label" data-browse="参照">ファイル選択...</label>
  </div>
  
  <label class="col-sm-2 col-form-label">タイトル</label>
  <div class="col-5">
    <%= f.text_field :title, class: "form-control"%>
  </div>
  
  <label class="col-sm-2 col-form-label">本文</label>
  <div class="col-10">
    <%= f.text_area :body, class: "form-control",:placeholder => "Enter your email..." %>
  </div>
  
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  
  <div class="mt-5 text-center">
   <%= f.submit '投稿する', class:'btn-primary', style: 'width: 100px' %>
 　</div>
  <% end %>