<h5>投稿詳細</h5>

<div class="container">
  <div class="row">
    <div class="col-md-5 slider">
      <% if @recipe.images.attached? %>
        <% @recipe.images.each do |image| %>
          <%= image_tag image, class: "show-recipe-image" %>
        <% end %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      
      <%= form_with model: @comment do |f| %>
      <div class="ml-3 mb-5">
        <%= f.hidden_field :recipe_id, value: @recipe.id %>
        <div class="mt-5 text_center">
          <%= f.label :content, 'コメント入力' %>
          <%= f.text_field :content, class: "text-field" %>
        </div>
        
        <div class="" id="star">
          <%= f.label :star,'評価 ' %>
          <%= f.hidden_field :star, id: :review_star %>
        </div>
      
        <!-- 評価javascript -->
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'comment[star]',
          half: true,
        });
        </script> 
        <%= f.submit 'コメント投稿', class: "btn-primary px-3" %>
      </div>
    <% end %>
    </div>
    
    <div class="col-md-7">
      <div class="mb-2"><%= @recipe.title %></div>
      
      <div class="mb-2">投稿者　<%= @recipe.customer.nickname %></div>
      
      <% if @recipe.customer == current_customer %>
      <div class="d-inline-block">
        <%= link_to "レシピ編集", edit_recipe_path(@recipe), class:'btn btn-sm  btn-success px-3 mr-4' %>
      </div>
        <div class="d-inline-block mb-2">
          <%= button_to "レシピ削除", recipe_path(@recipe), method: :delete, class:'btn btn-sm btn-danger px-3' %>
        </div>
      <% end %>
      
      <div id="recipe_<%= @recipe.id %>">
        <%= render "public/likes/like", recipe: @recipe %>
        likes
      </div>
      
      <!--%= @recipe.body %>-->
      <div class="new-line">
        <% body_and_hashtags_in_array(@recipe.body).each do |word| %>
         <%= word %>
        <% end %>
      </div>
      
      <% @comments.each do |comment|%>
      <div class=card>
        <p>内容:<%= comment.content %></p>
        <p>評価 :<%= comment.star %>点</p>
        <div id="star-rate<%= comment.id%>"></div>    
        <script>
          $('#star-rate<%= comment.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            half      : '<%= asset_path('star-half.png') %>',
            readOnly: true,
            score: <%= comment.star %>,
          });
        </script>
      </div>
    <% end %>
    </div>
    
    
  </div>
</div>
