<h5>投稿詳細</h5>

<div class="container">
  <div class="row">
    <div class="col-md-5 slider">
      <% if @recipe.images.attached? %>
        <% @recipe.images.each do |image| %>
          <%= image_tag image, class: "show-recipe-image" %>
        <% end %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      
      <!--コメントフォーム-->
      <div class="new-comment">
        <%= render 'public/comments/form', recipe: @recipe, comment: @comment %>
      </div>
      <!--コメント一覧部分-->
      <div id="comments_area"> 
        <%= render 'public/comments/recipe_comments', recipe: @recipe, comments: @comments %>
      </div>
    </div>
    
    <div class="col-md-7">
      <div class="mb-2"><%= @recipe.title %></div>
      
      <div class="mb-2">投稿者　<%= @recipe.customer.nickname %></div>
      
      <% if @recipe.customer == current_customer %>
      <div class="d-inline-block">
        <%= link_to "レシピ編集", edit_recipe_path(@recipe), class:'btn btn-sm  btn-success px-3 mr-4' %>
      </div>
        <div class="d-inline-block mb-2">
          <%= button_to "レシピ削除", recipe_path(@recipe), method: :delete, data: {confirm: "削除しますか？"}, class:'btn btn-sm btn-danger px-3' %>
        </div>
      <% end %>
      
      <div id="recipe_<%= @recipe.id %>">
        <%= render "public/likes/like", recipe: @recipe %>
        likes
      </div>
      
      <!--%= @recipe.body %>-->
      <div class="new-line">
        <% body_and_hashtags_in_array(@recipe.body).each do |word| %>
         <%= word %>
        <% end %>
      </div>
    </div>
  </div>
</div>
