<%= form_with model: comment, local: false do |f| %>
<div class="ml-3 mb-5">
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :recipe_id, value: recipe.id %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <div class="mt-5 text_center">
    <%= f.text_field :content, class: "text-field", placeholder: "コメント" %>
  
  
  <!--<div class="" id="star">-->
  <!--  %= f.label :star,'評価 ' %>-->
  <!--  %= f.hidden_field :star, id: :review_star %>-->
  <!--</div>-->

  <!-- 評価javascript -->
  <!--<script>-->
  <!--$('#star').raty({-->
  <!--  size     : 36,-->
  <!--  starOff:  '%= asset_path('star-off.png') %>',-->
  <!--  starOn : '%= asset_path('star-on.png') %>',-->
  <!--  starHalf: '%= asset_path('star-half.png') %>',-->
  <!--  scoreName: 'comment[star]',-->
  <!--  half: true,-->
  <!--});-->
  <!--</script> -->
    <%= f.submit 'コメント投稿', class: "btn-primary px-3 ml-4" %>
  </div>
<% end %>
</div>