<h5>ユーザー一覧</h5>
<table style: "text-weight: none">
    <thead>
        <tr>
            <th>アイコン</th>
            <th>ニックネーム</th>
            <th>投稿数</th>
            <th>フォロワー</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <tr>
                <th>
                    <% if customer.icon_image.attached? %>
                      <%= image_tag customer.icon_image, size:"80x80" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "80x80" %>
                    <% end %>
                </th>
                <th>
                    <%= link_to admin_customer_path(customer) do %>
                        <%= customer.nickname %>
                    <% end %>
                </th>
                <th>投稿数<%= customer.recipes.count %></th>
                <th>
                    フォロワー<%= customer.followers.count %>
                    <!--%= link_to "フォローする" relationship_path %>-->
                </th>
            </tr>
        <% end %>
    </tbody>
</table>