<h5>ユーザー一覧</h5>

  <table class="table table-hover ml-auto mr-auto w-75 mt-4">
    <thead class="border-bottom border-top border-secondary">
     <tr>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
      <th>投稿数</th>
      <th>フォロー</th>
      <th>フォロワー</th>
     </tr>
    </thead>
    <tbody class="border-bottom border-secondary font-weight-bold">
     <% @customers.each do |customer| %>
     <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.nickname, admin_customer_path(customer.id) %></td>
      <td><%= customer.recipes.count %></td>
      <th><%= customer.followings.count %></th>
      <td><%= customer.followers.count %></td>
     </tr>
     <% end %>
    </tbody>
   </table>