<h5 class="d-inline-block mr-5"><%= @customer.nickname %>の投稿ページ</h5>
<%= link_to "ユーザー削除", admin_customer_path(@customer), method: :delete, "data-confirm" => "本当に削除しますか？", class:'btn btn-sm btn-danger px-3' %>

<div class="ml-5">
  <div class="mb-3 mt-3">profile : <%= @customer.profile %></div>
  
  <div class="mb-3">
    <%= link_to "お気に入りレシピ", likes_admin_customer_path(@customer) %>
    <%= @customer.likes.count %>
  </div>
  
  <%= link_to "フォロー", admin_customer_followings_path(@customer) %><%= @customer.followings.count %>
  <%= link_to "フォロワー", admin_customer_followers_path(@customer) %><%= @customer.followers.count %>
  
  <div class="mt-3">
    <% @recipes.each do |recipe| %>
      <div class="border d-inline-block my-3 mx-3 px-3 py-3 text-center">
        <% if recipe.images.attached? %>
            <% recipe.images.each do |image| %>
                <%= image_tag image, size:'100x100' %>
            <% end %>
        <% end %><br>
        <%= link_to admin_recipe_path(recipe) do %>
            <%= recipe.title %>
        <% end %><br>
        <div>
          <%= recipe.likes.count %><span style="color:red;">❤︎</span>likes,
          <%= recipe.comments.count %> comments
        </div>
        <!--星レビュー-->
      </div>
    <% end %>
  </div>
</div>    
