<h5>カテゴリー一覧・追加</h5>
  <div class="container rw-80 mx-auto">
    <%= form_with model: Category, url:admin_categories_path, local:true do |f| %>
      <div class="row">
        <label class="col-md-2 col-sm-10 col-form-label w-100 d-inline">カテゴリー名</label>
      <div class="col-md-2 col-sm-10 d-inline"><%= f.text_field :category_name, class: "form-control" %></div>
      
      <div class="actions col-md-3"><%= f.submit '新規登録', class:'btn-primary px-4 w-50' %></div>
    <% end %>
  </div>
  
  <!--一覧表示-->
  <table class="table mt-5 col-md-4">
    <thead>
      <tr>
        <th>カテゴリー</th>
        <th style="width: 40%">
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @categories.each do |category| %>
          <td>
            <%= link_to admin_category_path(category) do %>
              <%= category.category_name %>
            <% end %>
          </td>
          <td><%= link_to "編集する", edit_admin_category_path(category.id), class:'btn btn-sm btn-success px-4'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>