<h5 class="item-index d-inline">商品一覧</h5>

<div class="search-form mr-5">
  <%= form_with url: items_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword,:placeholder => "商品名" %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<%= link_to "カテゴリー一覧", categories_path, class:'btn btn-sm btn-primary ml-5' %>

<div class="text-center">
  <% @items.each do |item| %>
    <div class="border d-inline-block my-3 mx-3 px-3 py-3 text-center">
      <% if item.item_image.attached? %>
        <%= image_tag item.item_image, size:"80x80" %>
      <% else %>
        <%= image_tag 'no_image', size: "80x80" %>
      <% end %><br>
      
      <%= link_to item.item_name, item_path(item) %><br>
    
      ￥<%= item.price %>
      
      <%= form_with model: @list_item, local: true do |f| %>
        <!--カート選択-->
        <%= f.collection_select :list_id, @lists, :id, :list_name, prompt: "リストを選択" %>
        <%= f.hidden_field :item_id, :value => item.id %><br>
        <%= f.submit "リストに追加", class:'mt-3 btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>