<h5>商品詳細</h5>
商品画像
<%= @item.item_name %>
<%= @item.price %>
<%= @item.description %>

<%= form_with model: @list_item, url:lists_path, local:true do |f| %>
<!--カート選択-->
<%= f.collection_select :list_id, List.all, :id, :list_name, class: "form-control", include_blank: "選択して下さい"   %> 
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit "リストに追加する" %>
<% end %>

レシピ一覧へ
