<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingLists</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="stylesheet/sidebar.scss">
    <link rel="stylesheet" href="../stylesheets/likes.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/902f9c9eeb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="head d-flex">
        <% if customer_signed_in? %>
          <bottom class="js-trigger m-0 p-0 ml-4">
            <% if current_customer.icon_image.attached? %>
              <%= image_tag current_customer.icon_image, size:"50x50" %>
            <% else %>
              <%= image_tag 'no_image', size: "30x30" %>
            <% end %>
          </bottom>
        <% end %>
        <div class="f-right">
          <%= link_to "商品", items_path, class: 'btn' %>
          <%= link_to "レシピ", recipes_path, class: 'btn' %>
          <%= link_to "リスト", lists_path, class:'btn' %>
          <%= link_to "投稿者", customers_path, class: 'btn' %>
        </div>
      </div>
    </header>
    
    <main>
      <% if customer_signed_in? %>
        <div class="sidebar">
          <ul>
            <li class="nav-item"><%= link_to current_customer.nickname, customer_path(current_customer) %></li>
            <li class="nav-item">
              <%= link_to "フォロー", customer_followings_path(current_customer) %>
              <%= link_to "フォロワー", customer_followers_path(current_customer) %>
            </li>
            <li class="nav-item"><%= link_to "お気に入りレシピ", likes_customer_path(current_customer) %></li>
            <li class="nav-item"><%= link_to "ユーザー編集", edit_customer_path(current_customer) %></li>
            <li class="nav-item"><%= button_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </ul>
        </div>
      <% end %>
      <div class="main-contents my-3 ml-5">
        <%= yield %>
      </div></div> 
    </main>

  </body>
</html>
