<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingLists</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="head d-flex">
        <% if customer_signed_in? %>
          <button id="js-trigger">
            <% if current_customer.icon_image.attached? %>
              <%= image_tag customer.icon_image, size:"30x30" %>
            <% else %>
              <%= image_tag 'no_image', size: "30x30" %>
            <% end %>
          </button>
        <% end %>
        <div class="f-right">
          <%= link_to "商品", items_path, class: 'btn' %>
          <%= link_to "レシピ", recipes_path, class: 'btn' %>
          <%= link_to "リスト", lists_path, class:'btn' %>
          <%= link_to "投稿者", customers_path, class: 'btn' %>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </div>
      </div>
      <nav id="sidebar">
        <ul>
          <li>ユーザー名</li>
          <li>
          <!--ルートエラー！-->
            <%= link_to "フォロー", customer_followings_path(current_customer) %>
            <%= link_to "フォロワー", customer_followers_path(current_customer) %>
          </li>
          <li><%= link_to "お気に入りレシピ", likes_customer_path(current_customer) %></li>
          <li>マイページ</li>
          <li>ユーザー編集</li>
          <li>ログアウト</li>


        </ul>
      </nav>
    </header>
    
    <main>
      
      <%= yield %>
    </main>
    <h1 class="jquery">Hello jQuery!</h1>
  </body>
</html>
